{% load static %}

<html lang="en">
<head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>login</title>
	  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
  <body>

    <div class="container">
		<h1>Zoo Connect</h1>
            <div class="col">
              <form class="form-login" action="/login/" method="post">
                  <h3 class="text-center">Welocme to ZooConnect</h3>
                  <div class="form-group">
                    <label for="id_username">Username：</label>
                    <input type="text" name='username' class="form-control" id="id_username" placeholder="Username" autofocus required>
                  </div>
                  <div class="form-group">
                    <label for="id_password">Password：</label>
                    <input type="password" name='password' class="form-control" id="id_password" placeholder="Password" required>
                  </div>
                <div>
                  <a href="/register/" class="text-success "><ins>new user register</ins></a>
                  <button type="submit" class="btn btn-primary float-right">login</button>
                </div>
              </form>
            </div>
    </div> 
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>    
  </body>
</html>